[submodule "aliensboot-toolkit"]
	path = aliensboot-toolkit
	url = git@github.com:KylinHe/aliensboot-toolkit.git
[submodule "aliensboot-core"]
	path = aliensboot-core
	url = git@github.com:KylinHe/aliensboot-core.git
[submodule "aliensboot-server"]
	path = aliensboot-server
	url = git@github.com:KylinHe/aliensboot-server.git
[submodule "aliensboot-client-cocos"]
	path = aliensboot-client-cocos
	url = git@github.com:KylinHe/aliensboot-client-cocos.git
[submodule "aliensboot-excel2all"]
	path = aliensboot-excel2all
	url = git@github.com:KylinHe/aliensboot-excel2all.git
